<ng-form name="facturationForm" class="row" ng-cloak>
    <div class="column_full">
        <h1 class="column__entete">Enregistrement des informations de facturation{{data.companyId}}</h1>
        <fieldset id="fieldset_login" class="column__form">
            <h3>Infos entreprise</h3>
            <div class="form__row">
                <div class="column_quarter"></div>
                <div class="column_half form__input_group">
                    <input name="siret" type="text" class="form__text" required placeholder="Veuillez saisir votre n°SIRET" maxlength="20"
                           ng-class="{form__input_valid:facturationForm.siret.$valid,form__input:!facturationForm.siret.$valid}"
                           ng-model="company.siret"
                           siret-mask>
                    <span class="form__text_highlight"></span>
                    <span class="form__text_bar"></span>
                    <label class="form__text_label">SIRET</label>
                    <label class="form__text_invalid" ng-show="!facturationForm.siret.$valid">&#x2718; SIRET invalid</label>
                    <label class="form__text_valid" ng-show="facturationForm.siret.$valid">&#x2713;SIRET valide</label>
                </div>
            </div>
            <div class="form__row_button" ng-cloak>
                <div class="column_full_center">
                    <button type="button" id="button_facturation" class="form__button_primary"
                            ng-show="facturationForm.siret.$valid"
                            ng-disabled="!facturationForm.siret.$valid"
                            ng-click="sendSiret()">
                        <span>Valider</span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>
<div class="row" ng-hide="angularLoaded">
    <div class="column_full">
        <h1 class="column__entete">Chargement ...</h1>
    </div>
</div>
